#mainBar {
   display: flex;
   flex-direction: column;
   width: 100%;
}

#add {
   width: 100%;
   display: flex;
   justify-content: center;
   padding-top: 15px;
}

#add_button {
   width: 90px;
   height: 36px;
   border-radius: 8px;
   background-color: darkkhaki;
}
h4{
   text-align: start;
}